<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Pink Rio | A strong, powerful and multiporpose WordPress Theme</title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>

    </head>
    <!-- END HEAD -->

    <!-- START BODY -->
    <body class="no_js responsive page-template-home-php stretched">

        <!-- START BG SHADOW -->
        <div class="bg-shadow">

            <!-- START WRAPPER -->
            <div id="wrapper" class="group">

                <!-- START HEADER -->
                <div id="header" class="group">

                    <div class="group inner">

                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="/" title="Pink Rio"><img src="{% static 'insloga.png' %}"></a>
                        </div>
                        <!-- END LOGO -->

                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote"> <P style="color:red;">Welcome to insoverseas Handmadepapers</P> </blockquote>





                            </div>
                        </div>
                        <div class="clearer"></div>

                        <hr />

                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">

                                <li>
                                    <a href="/">HOME</a>

                                </li>

                                <li>
                                    <a href="#">PRODUCTS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/papers/boxes/">PaperBoxes</a></li>
                                        <li><a href="/papers/cards/">PapersCards</a></li>
                                        <li><a href="/papers/christmas/">ChristmasOrnaments</a></li>
                                        <li><a href="/papers/gift/">papersGift</a></li>
                                        <li><a href="/papers/journal/">LeatherJournal</a></li>
                                        <li><a href="/papers/lamp/">PapersLamp</a></li>
                                         <li><a href="/papers/papers/">HandmadePapers</a></li>
                                        <li><a href="/papers/papersbag/">PapersBag</a></li>
                                        <li><a href="/papers/seedpapers/">SeedPapers</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/papers/factoury/">FACTORYTOUR</a>

                                </li>

                                <li>
                                    <a href="/papers/about/">ABOUT US</a>

                                </li>

                                <li>
                                    <a href="/papers/contact">CONTACT</a>

                                </li>







                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>

                </div>
                <!-- END HEADER -->

                <!-- START TESTIMONIALS -->
				<div id="primary" class="sidebar-right">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="clear"></div>
				            <div class="posts">
				                <div class="testimonial-post internal-post group">
				                    <div class="post_content group">
				                        <div class="testimonial-page">
				                            <div class="testimonial-text-full testimonial-thumb">
				                                <blockquote>

				                                    <p><span id="more-98"></span></p>
				                                    <p>Insoverseas Handmadepapers are the largest manufacturer and exporter of cotton recycled handmade paper and gift paper products in India and also have the largest production capacity in India to meet your highest demands. We are providing good quality of papers With Widest product , Icon of premium quality and customer service, Neck to neck pricing, Top brand reputation, Extra soft, hygienic and super absorbent products, and Extra care for you</p>

				                                    <p>The history of Handmade Paper in India is as old as 3rd century B.C.. Making paper by hand in India is a traditional art which has been passed down through the generations by craftsmen known as `Kagzi's’. They got their name from the Urdu word 'kavas' meaning paper. Though these traditional paper makers called `Kagzi's’ are now almost extinct, the traditional method of handmade paper making is still found in various parts of India where the traditional `Kagzi’ communities ultimately settled. One renown `Kagzi’ community is in SANGANER near the famous pink city of JAIPUR. One such family is the family of Jabbar Taj (owner of Taj Paper Udyog) which is still involved in this age old tradition of paper making. According to him a 'Kagzi' family was patronized and brought to Jaipur by Mansingh I the Ruler of Jaipur. They believe their origin to be in Turkey from where they moved to China and then to India.</p>

				                                    <p>&nbsp;</p>
				                                </blockquote>
				                                <div class="thumbnail">

				                                </div>
				                            </div>
				                            <div class="testimonial-name">
				                                <p class="name">Joy Mergot</p>
				                                <a class="website" href=""></a>
				                            </div>
				                     </div>
				            </div>
				                </div>
				            </div>
				        </div>
				        <!-- END CONTENT -->
				        <!-- START SIDEBAR -->
				        <div id="sidebar-testimonials" class="sidebar group">
				            <div class="widget-first widget testimonial-widget">
				                <h3></h3>
				                <div class="testimonial-text">

				                </div>
				                <script type="text/javascript" src="js/testimonials.js"></script>
				            </div>

				            <div class="widget-last widget featured-projects">
				                <h3></h3>
				                <div class="featured-projects-widget flexslider">
				                    <ul class="slides">
				                        <li>
				                            <div class="thumb-project"><a href="project.html"><img src="images/projects/0061-320x154.jpg" alt="0061" title="0061" /></a></div>
				                            <h4>Love</h4>
				                            <p class="categories"><a href="category.html">Brand Identity</a>, <a href="category.html">Web Design</a></p>
				                        </li>
				                        <li>
				                            <div class="thumb-project"><a href="project.html"><img src="images/projects/0071-320x154.jpg" alt="0071" title="0071" /></a></div>
				                            <h4>Kineda</h4>
				                            <p class="categories"></p>
				                        </li>
				                        <li>
				                            <div class="thumb-project"><a href="project.html"><img src="images/projects/0081-320x154.jpg" alt="0081" title="0081" /></a></div>
				                            <h4>Steep This!</h4>
				                            <p class="categories"><a href="category.html">Brand Identity</a>, <a href="category.html">Web Design</a></p>
				                        </li>
				                        <li>
				                            <div class="thumb-project"><a href="project.html"><img src="images/projects/009-320x154.jpg" alt="009" title="009" /></a></div>
				                            <h4>Guanacos</h4>
				                            <p class="categories"></p>
				                        </li>
				                        <li>
				                            <div class="thumb-project"><a href="project.html"><img src="images/projects/0011-320x154.jpg" alt="0011" title="0011" /></a></div>
				                            <h4>Miller Bob</h4>
				                            <p class="categories"></p>
				                        </li>
				                    </ul>
				                </div>
				                <script type="text/javascript" src="js/projects.js"></script>
				            </div>
				        </div>
				        <!-- END SIDEBAR -->
				    </div>
				</div>
				<!-- END TESTIMONIALS -->

				<!-- START COPYRIGHT -->
                <div id="copyright">
                    <div class="inner group">
                        <div class="left">
                            <a href="http://yithemes.com/?ddownload=2046&ap_id=pinkrio-html"><strong>Download the free version for Wordpress</strong></a>
                        </div>
                        <div class="right">
                            <a href="#" class="socials-small facebook-small" title="Facebook">facebook</a>
                            <a href="#" class="socials-small rss-small" title="Rss">rss</a>
                            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>
                            <a href="#" class="socials-small flickr-small" title="Flickr">flickr</a>
                            <a href="#" class="socials-small skype-small" title="Skype">skype</a>
                            <a href="#" class="socials-small google-small" title="Google">google</a>
                            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END BG SHADOW -->

        <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>

    </body>
    <!-- END BODY -->
</html>