<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Pink Rio | A strong, powerful and multiporpose WordPress Theme</title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>

    </head>
    <!-- END HEAD -->

    <!-- START BODY -->
    <body class="no_js responsive page-template-home-php stretched">

        <!-- START BG SHADOW -->
        <div class="bg-shadow">

            <!-- START WRAPPER -->
            <div id="wrapper" class="group">

                <!-- START HEADER -->
                <div id="header" class="group">

                    <div class="group inner">

                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="/" title="Pink Rio"><img src="{% static 'insloga.png' %}"></a>
                        </div>
                        <!-- END LOGO -->

                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote"> <P style="color:red;">Welcome to insoverseas Handmadepapers</P> </blockquote>





                            </div>
                        </div>
                        <div class="clearer"></div>

                        <hr />

                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">

                                <li>
                                    <a href="/">HOME</a>

                                </li>

                                <li>
                                    <a href="#">PRODUCTS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/papers/boxes/">PaperBoxes</a></li>
                                        <li><a href="/papers/cards/">PapersCards</a></li>
                                        <li><a href="/papers/christmas/">ChristmasOrnaments</a></li>
                                        <li><a href="/papers/gift/">papersGift</a></li>
                                        <li><a href="/papers/journal/">LeatherJournal</a></li>
                                        <li><a href="/papers/lamp/">PapersLamp</a></li>
                                         <li><a href="/papers/papers/">HandmadePapers</a></li>
                                        <li><a href="/papers/papersbag/">PapersBag</a></li>
                                        <li><a href="/papers/seedpapers/">SeedPapers</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/papers/factoury/">FACTORYTOUR</a>

                                </li>

                                <li>
                                    <a href="/papers/about/">ABOUT US</a>

                                </li>

                                <li>
                                    <a href="/papers/contact">CONTACT</a>

                                </li>







                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>

                </div>
                <!-- END HEADER -->
                
                <!-- START PAGE META -->
				<div id="page-meta">
				    <div class="inner group">
				        <h3>...Hi! :)</h3>
				        <h4>Get in touch with Insoverseas Handmade papers</h4>
				    </div>
				</div>
				<!-- END PAGE META -->
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-left">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="hentry group">
				                <form id="contact-form-contact-us" class="contact-form" method="post" action="/papers/contact/" enctype="multipart/form-data" method="post">{% csrf_token %}
				                    <div class="usermessagea"></div>
				                    <fieldset>
				                        <ul>
				                            <li class="text-field">
				                                <label for="name-contact-us">
				                                <span class="label">Name</span>
				                                <br />					<span class="sublabel">This is the name</span><br />
				                                </label>
				                                <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span><input type="text" name="name" id="name-contact-us" class="required" value="" /></div>
				                                <div class="msg-error"></div>
				                            </li>
				                            <li class="text-field">
				                                <label for="email-contact-us">
				                                <span class="label">Email</span>
				                                <br />					<span class="sublabel">This is a field email</span><br />
				                                </label>
				                                <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" name="email" id="email-contact-us" class="required email-validate" value="" /></div>
				                                <div class="msg-error"></div>
				                            </li>
				                            <li class="textarea-field">
				                                <label for="message-contact-us">
				                                <span class="label">send your enquiry</span>
				                                </label>
				                                <div class="input-prepend"><span class="add-on"><i class="icon-pencil"></i></span><textarea name="desc" id="message-contact-us" rows="8" cols="30" class="required"></textarea></div>
				                                <div class="msg-error"></div>
				                            </li>
				                            <li class="submit-button">
				                                <input type="text" name="yit_bot" id="yit_bot" />
				                                <input type="hidden" name="yit_action" value="sendmail" id="yit_action" />
				                                <input type="hidden" name="yit_referer" value="http://yourinspirationtheme.com/demo/pinkrio/corporate/contact/" />
				                                <input type="hidden" name="id_form" value="126" />
				                                <input type="submit" name="yit_sendmail" value="Send Message" class="sendmail alignright" />			
				                            </li>
				                        </ul>
				                    </fieldset>
				                </form>
				                <script type="text/javascript">
				                    var messages_form_126 = {
				                    	name: "Please, fill in your name",
				                    	email: "Please, insert a valid email address",
				                    	message: "Please, insert your message"
				                    };
				                </script>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START SIDEBAR -->
				        <div id="sidebar-contact" class="sidebar group">
				            <div class="widget-first widget contact-info">
				                <h3>Contacts</h3>
				                <div class="sidebar-nav">
				                    <ul>
				                        <li>
                                            <i class="icon-map-marker" style="color:#979797;font-size:20pxpx"></i>Jain Nasiya Road,Sanganer Jaipur,Rajasthan
				                        </li>


				                        <li>
				                            <i class="icon-envelope" style="color:#979797;font-size:20pxpx"></i> Email: info@insoverseaspapers
				                        </li>

                                        <li>
				                            <i class="icon-info-sign" style="color:#979797;font-size:20pxpx"></i> Phone: +91 98298 09983
				                        </li>



				                    </ul>
				                </div>
				            </div>
				            <div class="widget-last widget text-image">
				                <h3>Customer Support</h3>

				                <p>We are  available 24/7  support team and sales world wide globally </p>
				            </div>
				        </div>
				        <!-- END SIDEBAR -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
				
				
				<!-- START COPYRIGHT -->
                <div id="copyright">
                    <div class="inner group">
                        <div class="left">
                            <a href="http://yithemes.com/?ddownload=2046&ap_id=pinkrio-html"><strong>Download the free version for Wordpress</strong></a>
                        </div>
                        <div class="right">
                            <a href="#" class="socials-small facebook-small" title="Facebook">facebook</a>
                            <a href="#" class="socials-small rss-small" title="Rss">rss</a>
                            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>
                            <a href="#" class="socials-small flickr-small" title="Flickr">flickr</a>
                            <a href="#" class="socials-small skype-small" title="Skype">skype</a>
                            <a href="#" class="socials-small google-small" title="Google">google</a>
                            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            </div>
            <!-- END WRAPPER -->
        </div>
        <!-- END BG SHADOW -->
        
        <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>
        
    </body>
    <!-- END BODY -->
</html>