<!DOCTYPE html>
{% load static %}
<!--[if IE 6]>
<html id="ie6" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9" class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if !IE]>
<html dir="ltr" lang="en-US">
<![endif]-->

    <!-- START HEAD -->
    <head>

        <meta charset="UTF-8" />
        <!-- this line will appear only if the website is visited with an iPad -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />

        <title>Pink Rio | A strong, powerful and multiporpose WordPress Theme</title>
        <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <!-- [favicon] begin -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

        <!-- [favicon] end -->

        <!-- CSSs -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}css/reset.css" /> <!-- RESET STYLESHEET -->
        <link rel="stylesheet" type="text/css" media="all" href="{% static '' %}style.css" /> <!-- MAIN THEME STYLESHEET -->
        <link rel="stylesheet" id="max-width-1024-css" href="{% static '' %}css/max-width-1024.css" type="text/css" media="screen and (max-width: 1240px)" />
        <link rel="stylesheet" id="max-width-768-css" href="{% static '' %}css/max-width-768.css" type="text/css" media="screen and (max-width: 987px)" />
        <link rel="stylesheet" id="max-width-480-css" href="{% static '' %}css/max-width-480.css" type="text/css" media="screen and (max-width: 480px)" />
        <link rel="stylesheet" id="max-width-320-css" href="{% static '' %}css/max-width-320.css" type="text/css" media="screen and (max-width: 320px)" />

        <!-- CSSs Plugin -->
        <link rel="stylesheet" id="thickbox-css" href="{% static '' %}css/thickbox.css" type="text/css" media="all" />
        <link rel="stylesheet" id="styles-minified-css" href="{% static '' %}css/style-minifield.css" type="text/css" media="all" />
        <link rel="stylesheet" id="buttons" href="{% static '' %}css/buttons.css" type="text/css" media="all" />
        <link rel="stylesheet" id="cache-custom-css" href="{% static '' %}css/cache-custom.css" type="text/css" media="all" />
        <link rel="stylesheet" id="custom-css" href="{% static '' %}css/custom.css" type="text/css" media="all" />

        <!-- FONTs -->
        <link rel="stylesheet" id="google-fonts-css" href="http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed%3A300%7CRokkitt%7CShadows+Into+Light%7CAbel%7CDamion%7CMontez&amp;ver=3.4.2" type="text/css" media="all" />
        <link rel='stylesheet' href="{% static '' %}css/font-awesome.css" type='text/css' media='all' />

        <!-- JAVASCRIPTs -->
        <script type="text/javascript" src="{% static '' %}js/jquery.js"></script>
        <script type="text/javascript" src="{% static '' %}js/comment-reply.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.quicksand.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.tipsy.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.cycle.min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.anythingslider.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.easing.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.aw-showcase.js"></script>
        <script type="text/javascript" src="{% static '' %}js/layerslider.kreaturamedia.jquery-min.js"></script>
        <script type="text/javascript" src="{% static '' %}js/shortcodes.js"></script>
		<script type="text/javascript" src="{% static '' %}js/jquery.colorbox-min.js"></script> <!-- nav -->
		<script type="text/javascript" src="{% static '' %}js/jquery.tweetable.js"></script>

    </head>
    <!-- END HEAD -->
    
    <!-- START BODY -->
    <body class="no_js responsive page-template-home-php stretched">
        
        <!-- START BG SHADOW -->
        <div class="bg-shadow">
            
            <!-- START WRAPPER -->
            <div id="wrapper" class="group">
                
                <!-- START HEADER -->
                <div id="header" class="group">
                    
                    <div class="group inner">
                        
                        <!-- START LOGO -->
                        <div id="logo" class="group">
                            <a href="/" title="Pink Rio"><img src="{% static 'insloga.png' %}"></a>
                        </div>
                        <!-- END LOGO -->
                        
                        <div id="sidebar-header" class="group">
                            <div class="widget-first widget yit_text_quote">
                                <blockquote class="text-quote-quote"> <P style="color:red;">Welcome to insoverseas Handmadepapers</P> </blockquote>





                            </div>
                        </div>
                        <div class="clearer"></div>
                        
                        <hr />
                        
                        <!-- START MAIN NAVIGATION -->
                        <div class="menu classic">
                            <ul id="nav" class="menu">
                                
                                <li>
                                    <a href="/">HOME</a>

                                </li>
                                
                                <li>
                                    <a href="#">PRODUCTS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/papers/boxes/">PaperBoxes</a></li>
                                        <li><a href="/papers/cards/">PapersCards</a></li>
                                        <li><a href="/papers/christmas/">ChristmasOrnaments</a></li>
                                        <li><a href="/papers/gift/">papersGift</a></li>
                                        <li><a href="/papers/journal/">LeatherJournal</a></li>
                                        <li><a href="/papers/lamp/">PapersLamp</a></li>
                                         <li><a href="/papers/papers/">HandmadePapers</a></li>
                                        <li><a href="/papers/papersbag/">PapersBag</a></li>
                                        <li><a href="/papers/seedpapers/">SeedPapers</a></li>

                                    </ul>
                                </li>
                                
                                <li>
                                    <a href="/papers/factoury/">FACTORYTOUR</a>

                                </li>
                                
                                <li>
                                    <a href="/papers/about/">ABOUT US</a>

                                </li>
                                
                                <li>
                                    <a href="/papers/contact">CONTACT</a>

                                </li>
                                

                                

                                

                                
                            </ul>
                        </div>
                        <!-- END MAIN NAVIGATION -->
                        <div id="header-shadow"></div>
                        <div id="menu-shadow"></div>
                    </div>
                    
                </div>
                <!-- END HEADER -->
                
                <!-- BEGIN #slider -->
				<div id="slider-elastic" class="slider elastic ei-slider" style="width: 100%; height: 400px;">
				    <div class="ei-slider-loading">Loading</div>
				    <ul class="ei-slider-large">
				        <li class="first slide-1 slide align-">
				            <a href="http://www.google.it" target="_blank"><img src="{% static 'love1.jpg' %}" alt="sci11" title="sci11" /></a>
				            <div class="ei-title">
				                <h2><a href="http://www.google.it" target="_blank">love the sport</a></h2>
				                <h3>...feel the music</h3>
				            </div>
				        </li>
				        <li class="slide-2 slide align-">
				            <img width="1280" height="500" src="{% static 'love1.jpg' %}" alt="dolce11" title="dolce11" />
				            <div class="ei-title">
				                <h2>So sweet, so cute</h2>
				                <h3>enjoy this theme</h3>
				            </div>
				        </li>
				        <li class="slide-3 slide align-">
				            <img src="{% static 'love1.jpg' %}" alt="love1" title="love1" />
				            <div class="ei-title">
				                <h2>This premium theme</h2>
				                <h3>a great solution</h3>
				            </div>
				        </li>
				        <li class="slide-4 slide align-">
				            <img width="1280" height="500" src="{% static 'love1.jpg' %}" alt="red-passion1" title="red-passion1" />
				            <div class="ei-title">
				                <h2>Love the red fruit</h2>
				                <h3>... a red passion</h3>
				            </div>
				        </li>
				        <li class="last slide-5 slide align-">
				            <img src="{% static 'love1.jpg' %}" alt="xx21" title="xx21" />
				            <div class="ei-title">
				                <h2>Enjoy your freedom...</h2>
				                <h3>and love your life</h3>
				            </div>
				        </li>
				    </ul>
				    <!-- ei-slider-large -->
				    <ul class="ei-slider-thumbs">
				        <li class="ei-slider-element">Current</li>
				        <li><a href="#">love the sport - </a><img src="images/slider-elastic/sci11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">So sweet, so cute - </a><img src="images/slider-elastic/dolce11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">This premium theme - </a><img src="images/slider-elastic/love1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Love the red fruit - </a><img src="images/slider-elastic/red-passion1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Enjoy your freedom... - </a><img src="images/slider-elastic/xx21-150x59.jpg" alt=" - " /></li>
				    </ul>
				    <!-- ei-slider-thumbs -->    
				    <div class="shadow"></div>
				</div>
				<!-- ei-slider -->    
				<!-- END #slider -->
				<script type="text/javascript">
				    jQuery(document).ready(function($){
				        $('#slider-elastic.elastic').eislideshow({
        				    easing		: 'easeOutExpo',
        				    titleeasing	: 'easeOutExpo',
        				    titlespeed	: 1200,
        				    autoplay	: true,
        				    slideshow_interval : 3000,
        				    speed       : 800,
        				    animation   : 'sides'
				        });
				    });
				</script>











				<!-- START PAGE META -->
				<div id="page-meta">
				    <div class="inner group">
				        <h3>welcome </h3>
				        <h4>INSOVERSEAS HANDMADE PAPERS</h4>
                         <h4>ECO-FRIENDLY PRODUCTS</h4>


				    </div>
				</div>
				<!-- END PAGE META -->
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">
				            <div class="hentry group">
				                <div class="border-line"></div>
				                <p>&nbsp;</p>
				                
				                <div class="one-fourth ">
				                    <h3></h3>
				                    <p><a href="{% static 'dd2.jpg' %}"><img src="{% static 'dd2.jpg' %}" alt="" /></a>.</p>
				                </div>
				                
				                <div class="one-fourth ">
				                    <h3></h3>
				                    <p><a href="{% static 'dd2.jpg' %}"><img src="{% static 'dd2.jpg' %}" alt="" /></a></p>
				                    <p></p>
				                </div>
				                
				                <div class="one-fourth ">
				                    <h3> </h3>
				                    <p><a href="{% static 'dd2.jpg' %}"><img src="{% static 'dd2.jpg' %}" alt="" /></a></p>
				                    <p> </p>
				                </div>
				                
				                <div class="one-fourth last">
				                    <h3></h3>
				                    <p><a href="{% static 'dd2.jpg' %}"><img src="{% static 'dd2.jpg' %}" alt="" /></a></p>
				                    <p></p>
				                </div>
				                
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->





        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="inner group">
                <!-- START CONTENT -->
                <div id="content-home" class="content group">
                    <div class="hentry group">

                        <div class="section portfolio">
                            <h3 class="title">Our Products buy now </h3>
                            <div class="portfolio-projects">

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0061-175x175.jpg" alt="0061" title="0061" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0061.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">Love</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">Love</a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0071-175x175.jpg" alt="0071" title="0071" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0071.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">Kineda</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">Kineda</a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0081-175x175.jpg" alt="0081" title="0081" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0081.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">Steep This!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">Steep This!</a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/009-175x175.jpg" alt="009" title="009" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/009.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">Guanacos</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">Guanacos</a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0011-175x175.jpg" alt="0011" title="0011" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0011.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">Miller Bob</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">Miller Bob</a></h4>
                                    <p>
                                </div>

                                <div class="related_project_last related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0027-175x175.jpg" alt="0027" title="0027" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0027.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title">VItale Premium</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html">VItale Premium</a></h4>
                                    <p>
                                </div>

                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="border-line"></div>








                    </div>
                    <!-- START COMMENTS -->
                    <div id="comments">
                    </div>
                    <!-- END COMMENTS -->
                </div>
                <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
            </div>
        </div>
        <!-- END PRIMARY -->

     <!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <h2>About Insoverseas Handmadepapers </h2>
				            <div class="hentry group">
				                <p>Insoverseas Handmadepapers are the largest manufacturer and exporter of cotton recycled handmade paper and gift paper products in India and also have the largest production capacity in India to meet your highest demands. We are providing good quality of papers With Widest product , Icon of premium quality and customer service, Neck to neck pricing, Top brand reputation, Extra soft, hygienic and super absorbent products, and Extra care for you</p>
                                   <p style="text-align: center"><a href="{% static 'love1.jpg' %}"><img class="aligncenter" src="{% static 'love1.jpg' %}" alt="" /></a></p>
<p>The history of Handmade Paper in India is as old as 3rd century B.C.. Making paper by hand in India is a traditional art which has been passed down through the generations by craftsmen known as `Kagzi's’. They got their name from the Urdu word 'kavas' meaning paper. Though these traditional paper makers called `Kagzi's’ are now almost extinct, the traditional method of handmade paper making is still found in various parts of India where the traditional `Kagzi’ communities ultimately settled. One renown `Kagzi’ community is in SANGANER near the famous pink city of JAIPUR. One such family is the family of Jabbar Taj (owner of Taj Paper Udyog) which is still involved in this age old tradition of paper making. According to him a 'Kagzi' family was patronized and brought to Jaipur by Mansingh I the Ruler of Jaipur. They believe their origin to be in Turkey from where they moved to China and then to India.</p>

   <p style="text-align: center"><a href="{% static 'love1.jpg' %}"><img class="aligncenter" src="{% static 'love1.jpg' %}" alt="" /></a></p>

				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->


        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-no">
            <div class="inner group">
                <!-- START CONTENT -->
                <div id="content-home" class="content group">
                    <div class="hentry group">

                        <div class="section portfolio">
                            <h3 class="title">Our Manufacturing  </h3>
                            <div class="portfolio-projects">

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0061-175x175.jpg" alt="0061" title="0061" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0061.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"> </a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0071-175x175.jpg" alt="0071" title="0071" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0071.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"></a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0081-175x175.jpg" alt="0081" title="0081" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0081.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"></a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/009-175x175.jpg" alt="009" title="009" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/009.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"></a></h4>
                                    <p>
                                </div>

                                <div class="related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0011-175x175.jpg" alt="0011" title="0011" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0011.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"> </a></h4>
                                    <p>
                                </div>

                                <div class="related_project_last related_project">
                                    <div class="overlay_a related_img">
                                        <div class="overlay_wrapper">
                                            <img src="images/projects/0027-175x175.jpg" alt="0027" title="0027" />
                                            <div class="overlay">
                                                <a class="overlay_img" href="images/projects/0027.jpg" rel="lightbox" title=""></a>
                                                <a class="overlay_project" href="project.html"></a>
                                                <span class="overlay_title"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="project.html"></a></h4>
                                    <p>
                                </div>

                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="border-line"></div>








                    </div>
                    <!-- START COMMENTS -->
                    <div id="comments">
                    </div>
                    <!-- END COMMENTS -->
                </div>
                <!-- END CONTENT -->
            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->
            </div>
        </div>
        <!-- END PRIMARY -->




                				

        <!-- END BG SHADOW -->
        
         <script type="text/javascript" src="{% static '' %}js/jquery.custom.js"></script>
        <script type="text/javascript" src="{% static '' %}js/contact.js"></script>
        <script type="text/javascript" src="{% static '' %}js/jquery.mobilemenu.js"></script>
        
    </body>
    <!-- END BODY -->
</html>